<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Finance Model</title>
    {% endif %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<div>
    Finance:
    <a href="/">Home</a>
</div>
<hr>
{% block content %}
{% endblock %}
</body>
</html>